.postContainer {
    position: relative;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    transition: transform 0.2s ease-in-out;
}

.postContainer:hover {
    transform: scale(1.02);
}

.postImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.postTitle {
    text-align: center;
}
.postComment {
    margin-top: 8px;
    color: #4a4a4a;
    font-size: 1rem;
}

.postUser {
    font-size: 0.875rem;
    color: #6b7280;
}